

.container {
  display: block;
}

.logo {
  display: block;
  position: absolute;
  width: 30%;
  height: 50%;
  right: 50px;
  margin-top: -20px;
}

.column {
  vertical-align: top;
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.column * {
  padding: 20px 0 0 30px;
}

.leftColumn {
  width: 69%;
  left: 0;
  margin-left: 10px;
  box-shadow: 0 5px 10px #fff, 3px -1px 7px #ccc;
}

.rightColumn {
  width: 29%;
  right: 0;
  height: 80%;
  margin-right: 10px;
  box-shadow: 3px -1px 7px #ccc;
}

.topBar {
  vertical-align: top;
  display: block;
  width: 100%;
  height: 10%;
}

.ongoing {
  top: 10%;
  background: linear-gradient(to bottom, #ddd 0%, #fff 90%);
  height: 60%;
  border-radius: 50px 50px 0 0;
}

.previous {
  background: linear-gradient(to bottom, #ddd 0%, #fff 90%);
  bottom: 0;
  height: 30%;
  border-radius: 50px 50px 0 0;
}

.queue {
  top: 10%;
  background: linear-gradient(to bottom, #ddd 0%, #fff 90%);
  height: 90%;
  border-radius: 20px 20px 0 0;
}

.ongoingGame {
  opacity: 1;
  transition: opacity 1000ms;
}

.inProgress {
  opacity: 1;
  transition: opacity 1000ms;
}

.games {
  display: inline;
}

.countdown {
  position: absolute;
  top: 35%;
  right: 5%;
  font-size: 8em;
  font-weight: bold;
  font-family: Lucida Console, monospace;
  text-align: center;
  color: #e00;
  text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black, 0 0 10px black;
}

.players{
  text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 1px white, 0 0 15px white;
}

.rocket_league {
  background: url(../../assets/img/rl.jpg),
  linear-gradient(to bottom, #777 0%, #fff 90%);
  background-blend-mode: screen;
  background-size: cover;
  transition: background 1000ms;
}

.fifa_pl {
  background: url(../../assets/img/fifa.jpg),
  linear-gradient(to bottom, #777 0%, #fff 90%);
  background-blend-mode: screen;
  background-size: cover;
}

.miseczka_e {
  background: url(../../assets/img/doa.jpg),
  linear-gradient(to bottom, #777 0%, #fff 90%);
  background-blend-mode: screen;
  background-size: cover;
  transition: background 1000ms;
}

.obliteracers {
  background: url(../../assets/img/oblite.jpg),
  linear-gradient(to bottom, #777 0%, #fff 90%);
  background-blend-mode: screen;
  background-size: cover;
  transition: background 1000ms;
}

.rocket_leagueLogo {
  background: url(../../assets/img/rl-logo.png) no-repeat;
  background-size: contain;
  transition: background 1000ms;
}

.fifa_plLogo {
  background: url(../../assets/img/fifa-logo.png) no-repeat;
  background-size: contain;
  transition: background 1000ms;
}

.miseczka_eLogo {
  background: url(../../assets/img/doa-logo.png) no-repeat;
  background-size: contain;
  transition: background 1000ms;
}

.obliteracersLogo {
  background: url(../../assets/img/oblite-logo.png) no-repeat;
  background-size: contain;
  transition: background 1000ms;
}
