<div class='container'>
  <div class='column leftColumn ongoing {{ongoing ? ongoing.gameType : ""}}'>
    <div *ngIf="ongoing">
      <h1>Ongoing game:</h1>
      <div class='logo {{ongoing.gameType}}Logo'></div>
      <div class='ongoingGame'>
        <h2>{{gameNames[ongoing.gameType]}}</h2>
      </div>
    </div>
    <div>
      <h1 *ngIf="!ongoing">There are no ongoing games.</h1>
    </div>
  </div>
  <div class='column leftColumn previous {{previous ? previous.gameType : ""}}'>
    <div *ngIf="previous">
      <h1>Previous game:</h1>
      <div class='logo {{previous.gameType}}Logo'></div>
      <div class='previousGame'>
        <h2>{{gameNames[previous.gameType]}}</h2>
      </div>
    </div>
    <div>
      <h1 *ngIf="!previous">There are no previous games.</h1>
    </div>
  </div>
  <div class='column rightColumn queue'>
    <h1>Queued games:</h1>
    <div *ngIf="games.size">
      <li *ngFor="let game of getGames()">
        <span>{{gameNames[game.gameType]}}</span>
      </li>
    </div>
    <div *ngIf="!games.size">
      <h3>Game queue is empty</h3>
    </div>
  </div>
</div>
